.footnote-inline{
    padding-left: 1px;
    //background-color: #cccccc;
}

.footnote-side{
    width: 100%;
    color: #777777;
    font-size: 0.65em;
    border-top: 2px #333333 solid;
    padding-top: 5px;
    padding-left: 0px !important;
    line-height: 1.35;
}