.kapitel-list-item{
    border: 1px #eeeeee solid;
    height: 300px;
    margin-bottom: 40px;

    background-size: cover;
    background-position: center center;

    &__overlay{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100%;

        transition: all ease 300ms;
        justify-content: space-between;

        &:hover{
            background-color: transparent;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

        &__content{
            display: flex;
            flex-direction: column;
            padding: 40px;
        }

            &__headline{
                color: #000000;
                font-size: 1.45em;
                margin: 0px;
                padding: 0px;
            }

            &__author{
                color: #000000;
                font-size: 0.8em;
            }

        &__kapitel{
            color: #000000;
            font-size: 1em;
            margin: 0px;
            margin-bottom: 10px;
            padding: 0px;
            padding: 40px;
        }
}

.kapitel-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;

    .kapitel-item{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-right: 1px #dddddd solid;

        p{
            padding: 0px;
            margin: 0px;
            font-size: 0.8em;
        }

        h4{
            padding: 0px;
            margin: 0px;
            font-size: 0.9em;
        }
    }
}

.button--next-kapitel{
    margin-top: 40px;
}