/*******************************************************************************
** 02. LAYOUT / Content
*******************************************************************************/

.content{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fafbfc;
}