/*******************************************************************************
** 02. LAYOUT / Footer
*******************************************************************************/

.footer{
	position: relative;
	display: flex;
	flex-direction: column;

	background-color: $base_color_3;
	color: $base_color_invert;

	.textwidget *{
		color: $base_color_invert;
	}
}