/*******************************************************************************
** 02. LAYOUT / Header
*******************************************************************************/

$height: 16px;

.header{
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0px;
	z-index: 999;

	&__quicklinks {
		z-index: 999;
		width: 100%;
		background-color: $base_color;// #5c4e84;
		padding: 10px 12px;
		color: #ffffff;
		font-size: 0.7em;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		line-height: $height;

		.quicklinks__titel {
			color: #ffffff;
			font-style: italic;
		}

		.quicklinks__links {
			display: flex;
			font-weight: 400;

			a {
				margin: 0px 10px 0px 20px;
				text-decoration: none;
				color: inherit;
				display: inline-flex;
				transition: all ease 200ms;
				color: #cccccc;

				&:hover {
					color: #ffffff;

					svg {

						path,
						line,
						rect {
							stroke: #ffffff !important;
						}
					}
				}

				svg {
					width: $height;
					height: $height;
					margin-right: 8px;

					path,
					line,
					rect {
						stroke: #cccccc !important;
					}
				}

				span {
					padding-top: 1px;
					height: $height;
				}
			}
		}
	}

	&__main{
		width: 100%;
		height: $header_height;
		z-index: 3000;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		background-color: #fafbfc;
		border-bottom: 1px solid #eeeeee;

		// Logo
		
		&__logo{
			height: 100%;
			width: 200px;
			padding: 22px;

			&__image{
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		
		
		// Menu
		
		&__menu{
			height: 100%;
			width: auto;
			align-self: flex-end;
		}
	}
		
}