/*******************************************************************************
** 02. LAYOUT / Navigation
*******************************************************************************/

.main-menu{
	display: flex;
	align-items: center;
    justify-content: center;

	.burger {
		display: none;
		z-index: 5000;
		margin-right: 30px;
		cursor: pointer;
		flex-direction: column;

		.x, .y, .z {
			margin: 0px;
			background: $base-color;
			border-radius: 0px;
			transition: all 200ms ease-out;

			height: 3px;
			width: 30px;
			margin: 3px 0px;

			&.collapse{
				margin: -1px 0px;
				background: $base_color_invert;
				transition: all 70ms ease-out;
			}

			&.rotate30{ 
				transform: rotate(30deg);
				transition: all 50ms ease-out;					
			}

			&.rotate150{
				transform: rotate(150deg);
				transition: all 50ms ease-out;					
			}
			
			&.rotate45{
				transform: rotate(45deg);
				transition: all 100ms ease-out;					
			}

			&.rotate135{
				transform: rotate(135deg);
				transition: all 100ms ease-out;					
			}
		}
	}

	.circle{
		z-index: 4000;
		border-radius: 50%;
		width: 0px;
		height: 0px;
		position: absolute;
		top: 50px;
		right: 50px;
		background: $base-color;
		opacity: 1;
		transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	}		
	
	.menu{
		margin: 0px;
		padding: 0px;
		width: auto;
		height: 100%;
		display: flex;

		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
			width: auto;
			height: 100%;
			display: flex;
			flex-direction: row;

			li{
				display: flex;
				padding: 0px;
				margin: 0px;
				transition: all ease 300ms;

				&.current-menu-item a{
					color: $base-color;
				}

				a{
					display: flex;
					padding: 0px 30px;
					justify-content: center;
					align-items: center;
					font-family: $base_font_familiy_sans;

					color: #333333;
					font-size: 0.9rem;

					&:hover{
						//background-color: $base-color;
						color: $base-color;
					}

					&[target=_blank]:after{
						content: '';
						background-image: url(assets/icons/open_new.svg);
						background-size: contain;
						width: 18px;
						height: 18px;
						margin-left: 10px;
						opacity: 0.5;
					}
				}
			}
		}
	}
	
}

@media screen and (max-width: $header_responsive_menu_breakpoint){
	
	.main-menu{

		.burger{
			display: flex;
		}

		&.responsive-open{
			
			// Portrait
			.circle{
				$circle_expand_size: 300vh;
	
				width: $circle_expand_size;
				height: $circle_expand_size;
				top: -$circle_expand_size/2;
				right: -$circle_expand_size/2;
				transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			}
			
			// Landscape
			@media all and (orientation:landscape) {
				.circle{
					$circle_expand_size: 300vw;
	
					width: $circle_expand_size;
					height: $circle_expand_size;
					top: -$circle_expand_size/2;
					right: -$circle_expand_size/2;
					transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				}
			}
		}

		.menu{
			width: 100%;
			height: 100%;
			padding-top: 100px;
			z-index: 4800;

			position: fixed;
			left: 0px;
			top: 0px;

			display: none;

			ul.menu__items{
				display: flex;
				flex-direction: column;
				width: 100%;

				li{
					width: 100%;
					height: auto;
					padding: 20px;

					a{
						color: $base_color_invert;
						transition: all ease 300ms;

						text-transform: uppercase;
						font-size: 1rem;

						&:hover{
							color: rgba($base_color_invert, 0.75);
						}
					}
				}
			}
		}

		&.responsive-open{
			.menu{
				display: flex;
			}
		}
		
	}
	
}