/*******************************************************************************
** 02. LAYOUT / Page
*******************************************************************************/

.page{
	width: 100%;
	height: 100%;
    overflow: auto;
	position: relative;
	display: block;
    
	background-size: cover;
    background-position: center center;

	&__overlay{
        width: 100%;
		height: 100%;
		position: relative;
		display: block;
		
		//background: linear-gradient(40deg, rgba($base_color, 0.95), rgba(#1880B8, 0.98));
	}
}