/*******************************************************************************
** 04. WORDPRESS / Pages / Hero
*******************************************************************************/

.content--hero{
    padding: 0px;
    min-height: calc(100vh - 80px);

    .section{
    
        &__overlay{
            min-height: calc(100vh - 80px);
            background-color: rgba(255, 255, 255, 0.92);
        }
    }
}