/*******************************************************************************
** 05. MODULES / Author
*******************************************************************************/

.author{
	padding: 0px;
	
	&--short{
		display: flex;
		
		h1{
			margin-bottom: 0px !important;
		}
	}
	
	&--page{
		text-align: center;
		
		*{
			display: inline-block;
		}
	}
	
	&__image{
		margin-right: 30px;
		width: auto;
		margin-bottom: 10px;
		
		.author__image-inner{
			width: 80px;
			height: 80px;
			border-radius: 999em;
			background-color: #000;
			background-size: cover;
			background-position: center center;
		}
	}
	
	&__content{
		display: block;
		
		h1{
			color: #000;
			text-align: left;
			margin-bottom: 20px;
		}
		
		p{
			color: #333;
			text-align: justify;
		}
		
	}
	
	&__button{
		margin-left: 30px;
		display: flex;
		align-items: center;
	}
}

.section--authors{
	.section__overlay{

		$small-author-item-size: 80px;
		
		.section__wrapper{
			display: block;
			.center{
				margin: 30px 0px;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				width: auto;
				height: auto;
				
				.small-author-item{
					margin: 0px 20px;
					width: $small-author-item-size;

					&__image{
						width: $small-author-item-size;
						height: $small-author-item-size;
						border-radius: 999em;
						background-color: $base_color;
						background-size: cover;
						background-position: center center;
					}

					&__name{
						color: #000;
						text-align: center;
						margin-top: 10px;
						margin-bottom: 0px;
					}
				}
			}
		}
		
		
	}
}

@media screen and (max-width: $layout_responsive_content_breakpoint){
	
	.author--short{
		flex-wrap: wrap;
		
		.author__image{
			margin: 0px auto;
			margin-bottom: 10px;
		}
		
		.author__content h1{
			text-align: center;
			margin-bottom: 20px;
		}
		
		.author__button{
			margin: 20px auto;
		}
	}
	
}