/*******************************************************************************
** 05. MODULES / Tag
*******************************************************************************/

$color_tag_h: #444444;
$color_tag_n: #777777;

.tag{
    border-radius: 999em;
    height: 24px;
    line-height: 1;
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 0.8em;

    &--h{
        background-color: $color_tag_h;

        .tag__type{
            background-color: darken($color_tag_h, 20%);
        }
    }

    &--n{
        background-color: $color_tag_n;

        .tag__type{
            background-color: darken($color_tag_n, 20%);
        }
    }

    &__type{
        width: 24px;
        height: 24px;
        border-radius: 999em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name{
        display: flex;
        align-items: center;
        height: 24px;
        padding: 0px 11px 0px 7px;
    }
}