<oag-hero></oag-hero>
<!--
<oag-section backgroundColor="#39569b">
    <oag-row>
        <oag-column>
            <h2 class="section-title">Digitale Services & Projekte</h2>
        </oag-column>
    </oag-row>
    <oag-row>
        <oag-tile
            width="8"
            title="Suchen & Stöbern"
            link="#">
            <p>Viele digitale Einträge sind öffentlich zugänglich und können durchsucht oder in einer Galerie-Funktion durchstöbert werden.</p>
        </oag-tile>
        <oag-tile width="4" title="Findbuch & API">
            <p>Das Ortsarchiv verfügt über ein eigenes Verwaltungsprogramm, das alle Einträge zentral sammelt, verwaltet und anderen Services bereitstellt.</p>
        </oag-tile>
    </oag-row>
</oag-section>
-->
<oag-footer></oag-footer>
