/*******************************************************************************
** 02. LAYOUT / Grid
*******************************************************************************/

.gd{
	float: left;
	padding: $layout_padding_grid;
	display: block;
	position: relative;
	
	&--1{width:    8.333333333%;}
	&--2{width:   16.666666666%;}
	&--3{width:   25.000000000%;}
	&--4{width:   33.333333333%;}
	&--5{width:   41.666666666%;}
	&--6{width:   50.000000000%;}
	&--7{width:   58.333333333%;}
	&--8{width:   66.666666666%;}
	&--9{width:   75.000000000%;}
	&--10{width:  83.333333333%;}
	&--11{width:  91.666666666%;}
	&--12{width: 100.000000000%;}
}


@media screen and (max-width: $layout_responsive_content_breakpoint){
	.gd{
		width: 100%;
	}
}