/*******************************************************************************
** 02. LAYOUT / Header
*******************************************************************************/

.header{
	left: 0px;
	right: 0px;
	top: 0px;
	height: auto;
	display: block;
	position: sticky;
	z-index: 999;
	
	background-size: cover;
	background-position: center center;
	border-bottom: 1px #ddd solid;
	
	
	// Layout
	
	&__pre-line{
		background-color: #f2f2f2;
		border-bottom: 1px #ddd solid;
		color: #333;
		line-height: 1.5;
		padding: 12px 14px 10px 14px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-size: 0.7rem;
		font-weight: normal;
		
		span{
			opacity: 0.5;
		}
		
		strong{
			color: #000;
			font-weight: bold;
		}
	}
	
	&__overlay{
		padding: 0px;
		display: block;
		
		background-color: #fff;
	}
	
	&__wrapper{
		padding: 0px;
		height: $header_wrapper_height;
		@extend .clearfix;
	}
	
	
	// Logo
	
	&__logo{
		padding: 25px;
		height: 100%;
		width: 400px;
		float: left;
	}
	
	.logo{
		&__image{
			display: block;
			width: 100%;
			height: 100%;
			
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
		}
	}
	
	
	// Menu
	
	&__menu{
		float: right;
		height: 100%;
		width: auto;
	}
}