/*******************************************************************************
** 02. LAYOUT / Layout
*******************************************************************************/

$sidebar-outer-width: 300px;
$sidebar-outer-height: 600px;

body{
	background-color: $body-frame-color;
	height: auto;
	
	.body-wrapper{
		width: 100%;
		height: auto;
		padding: $body-frame;
		position: relative;
		max-width: 1400px;
		margin: 0px auto;
		
		.main{
			//padding-top: $header_wrapper_height;
			background-color: #fff;
		}
	}
}

.section{
	display: block;
	position: relative;
	
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	
	&.content{
		padding-right: $sidebar-outer-width;
	}
	
	&__overlay{
		display: block;
		width: 100%;
		height: auto;
		margin: 0px;
		padding: 0px;
		
		background-color: transparent;
	}
	
	&__wrapper{
		display: block;
		width: 100%;
		height: auto;
		max-width: $layout_wrapper_max_width;
		margin: 0px auto;
		padding: 0px;
		
		@extend .clearfix;
		
	}
	
	
	&__title{
		h1{
			margin-top: 0px;
			margin-bottom: $sidebar-outer-width;
		}
		
		p{
			text-transform: uppercase;
			font-size: 0.8em;
			color: #ccc;
			display: block;
			text-align: center;
			letter-spacing: 1px;
			font-weight: bold;
			
			span{
				font-weight: normal;
			}
		}
	}
}

.content-sidebar{
	width: 100%;
    display: flex;
    flex-direction: row;   
	
	&__content{
		width: 100%;
		flex-grow: 1;
	}
	
	&__sidebar{
		//display: none;
		width: $sidebar-outer-width;
	}
}

.sidebar{
	overflow: hidden;
	width: $sidebar-outer-width;
	height: 100%;
	min-height: $sidebar-outer-height;
	padding: 0px;
	
	border-left: 1px #ddd solid;
}