/*******************************************************************************
** 02. LAYOUT / Navigation
*******************************************************************************/


.main-menu{
	@extend .clearfix;

	.menu{
		margin: 0px;
		padding: 0px;
		height: 100%;
		display: block;
		float: left;

		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
			height: 100%;
			display: block;
			@extend .clearfix;

			li{
				display: inline-block;
				float: left;
				height: 100%;
				display: flex;
				align-items: center;
				margin: 0px;
				
				@extend .hover-transition;
				
				&:hover{
					
					a{
						color: #ccc;
					}
				}

				a{
					padding: 0px 30px;
					height: 100%;
					line-height: $header_wrapper_height;
					display: inline-block;
					text-transform: uppercase;
					font-weight: normal;
					font-size: 1.1em;
					color: #333;
				}
				
				&.current-menu-item{
					//background-color: #fcfcfc;
					position: relative;
					
					a{
						font-weight: bold;
					}
				}
			}
		}
	}

	.responsive-pull-close{
		height: 100%;
		width: auto;
		float: right;
		display: flex;
		align-items: center;
		@extend .clearfix;

		&__button{
			display: none;
			align-items: center;
			width: 40px;
			height: 40px;
			float: left;
			padding: 4px 8px;
			border-radius: 999em;
			//border: 1px #ddd solid;
			cursor: pointer;
			@extend .hover-transition;
			
			svg{
				fill: #000;
			}
			
			&:hover{
				//background-color: #000;
				//border-color: #000;
				transform: scale(1.1, 1.1);
				
				svg{
					//fill: #fff;
				}
			}
			
		}

	}
	
}

@media screen and (max-width: $header_responsive_menu_breakpoint){
	
	.main-menu{
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		float: none;
		z-index: 1000;
		padding: $body-frame;
		background-color: $body-frame-color;
		overflow: auto;
		
		// Toggle Pull & Close
		
		.responsive-pull-close{
			float: right;
			display: inline-block;
			height: auto;
			
			&__button{
				
				svg{
					fill: #fff;
				}
				
				&--pull{
					display: none;
				}
				
				&--close{
					display: flex;
				}
			}
		}
		
		
		// Menu Style
		
		.menu{
			z-index: 10003;
			padding: 0;
			background-color: $body-frame-color;
			overflow: auto;
			width: 100%;
			height: auto;
			position: static;
			margin-top: 20px;
			
			ul{
				background-color: #fff;
				display: block;
				width: 100%;
				height: auto;
				margin: 0px;
				padding: 0px;
				float: none;
				
				li{
					float: none;
					display: block;
					height: auto;
					width: 100%;
					margin: 0px;
					border-bottom: 1px #ddd solid;
					
					&.current-menu-item:after{
						display: none;
					}
					
					a{
						padding: 26px 30px;
						line-height: 1;
						display: block;
					}
				}
			}
			
		}
		
		&--responsive-hidden{
			float: right;
			height: 100%;
			width: auto;
			position: relative;
			background-color: transparent;
			
			.menu{
				display: none
			}
			.responsive-pull-close{
				display: flex;
				height: 100%;
				
				&__button svg{
					fill: #000;
				}
			}

			.responsive-pull-close__button--pull{
				display: flex;
			}

			.responsive-pull-close__button--close{
				display: none;
			}
		}
		
	}
	
}