/*******************************************************************************
** 04. WORDPRESS / Home
*******************************************************************************/

.page.home{
    background-color: $base_color_3;
    
    .page__overlay{
        background-image: linear-gradient($base_color_2 0%, $base_color_3 100%) !important;

        h1, h2, h3, h4{
            color: #ffffff;
        }

        p{
            color: #cccccc;
        }
    }
}
