/*******************************************************************************
** 03. BASE MODULES / Buttons
*******************************************************************************/

.button{
	display: inline-flex;
	border: 0px;
    text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
	color: $base_color;
	padding: 20px 40px;
	letter-spacing: 0.5px;
	font-size: 0.85rem;
	white-space: normal;
	border: 3px $base_color solid;
	border-radius: 999em;
	@extend .hover-transition;
	
    &:hover{
		background-color: $base_color;
		color: #fff;
    }
}