/*******************************************************************************
** 03. BASE MODULES / Form
*******************************************************************************/

input[type=email],
input[type=text],
input[type=tel],
input[type=password],
textarea,
select{
    font-size: 1em;
    font-weight: bold;
    color: #333;
    
	border: 0px;
    border-bottom: 2px #444 solid;
	
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px 0px;
    
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
	
	box-shadow: none;
    
    &:focus{
		box-shadow: none;
		border: 0px;
    	border-bottom: 2px $base_color solid;
        transition: all ease 500ms;
		background-color: transparent;
    }
}

select{
	padding: 0px;
	padding-right: 22px;
}

input[type=submit]{
    display: inline-block;
}

label{
	color: #777;
	margin: 0px;
	margin-top: 10px;
	line-height: 1;
}

.optional-fuehrerschein{
	background-color: #fcfcfc;
	border: 1px #f4f4f4 solid;
	padding: 40px;
	display: inline-block;
	
	h4{
		max-width: 500px;
		display: block;
		margin: 0px auto;
		text-align: left;
		font-size: 1rem;
	}
	
	p{
		text-align: left;
		margin: 0px;
		margin-top: 10px;
	}
	
	.wpcf7-form-control-wrap.fuehrerschein_file{
		border: 2px #e0e0e0 solid;
		padding: 20px;
		margin: 0px;
		
		input{
			color: #333;
		}
		
		.wpcf7-file{
			margin: 0px;
		}
	}
}

.g-recaptcha{
	display: inline-block;
	margin: 40px 0px;
}

.wpcf7-form{
    text-align: center;
    
    p span{
        text-align: left;
        max-width: 500px;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        color: #ccc;
    }
    
    .wpcf7-submit{
		@extend .button;
		white-space: normal !important;
    }
}

.wpcf7-not-valid-tip{
    color: red !important;
}

.wpcf7-response-output{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px !important;
	font-size: 1.2rem;
    border-color: #ccc !important;
    display: block;
    margin: 40px auto;
}