/*******************************************************************************
** 03. BASE MODULES / Images
*******************************************************************************/

.wp-caption-text{
	color: #bbb;
	font-size: 0.7em;
	line-height: 1.35;
	text-align: left;
}