/*******************************************************************************
** 03. BASE MODULES / Logo
*******************************************************************************/
	
.logo{
    &__image{
        display: block;
        width: 100%;
        height: 100%;
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
    }
}