/*******************************************************************************
** 03. BASE MODULES / Text
*******************************************************************************/

h1, h2, h3, h4, h5, h6{
    color: $base_color;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

h1{
    font-size: 2.2rem;
    font-weight: normal;
    //letter-spacing: 1px;
}

h2{
    font-size: 1.65rem;
	margin-top: 30px;
    margin-bottom: 15px;
	font-weight: normal;
}

h3{
    font-size: 1.25rem;
	margin-top: 20px;
    margin-bottom: 10px;
	color: #555;
	font-weight: normal;
}


p{
    line-height: 1.75;
	font-family: $base_font_familiy;
    font-size: 1.2rem;
    font-weight: normal;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 0px;
	text-align: justify;
}

a{
    text-decoration: none;
    color: $base_color;
}

ul,
ol{
    margin-bottom: 20px;
    margin-top: 0px;
	padding-left: 22px;
	
	li{
    	color: #555;
		margin-bottom: 5px;
	}	
}

blockquote{
    
}

figcaption{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(197, 197, 197);
    margin-bottom: 30px;
    text-align: center;
}

// Abstand R + L

body.single, body.page{

    h1, h2, h3, h4, h5, h6, p{
        padding-left: 140px;
        padding-right: 0px;
    }

    figure.alignleft figcaption{
        text-align: left;
    }

    figure.alignright figcaption{
        text-align: right;
    }

}