:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center {
    display: flex;
    max-width: var(--max-wrapper-width);
    width: 100%;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(90deg, rgba(#6d84ad, 1) 0%, rgba(#99a8c7, 1) 100%);
    color: #fff;

    .logo {
        height: 50px;
        width: auto;
        margin-bottom: 100px;

        svg g {
            // fill: #39569b;
            fill: #ffffff;
        }
    }

    p {
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1.5;
    }

    .scroll-down {
        position: absolute;
        bottom: 30px;
    }

    @media screen and (max-width: 640px) {
        :host {
            height: auto;
        }

        .stats-line {
            flex-direction: column;

            .stat {
                margin-right: 0px;
                margin-bottom: 20px;
            }
        }
    }

}


.stats {
    flex-wrap: wrap;

    oag-stat-tile {
        width: 14.286%;
        height: 14.286vw;
    }

    @media screen and (min-width: 641px) and (max-width: 1300px) {
        oag-stat-tile {
            width: 25%;
            height: 25vw;
        }
    }

    @media screen and (max-width: 640px) {
        oag-stat-tile {
            width: 50%;
            height: 50vw;
        }
    }
}
