/*******************************************************************************
** 02. WORDPRESS / Page
*******************************************************************************/

.section--page-title{

    .section__wrapper{
        padding-top: 80px;
        padding-bottom: 40px;

        .title{
            color: #000000;
            font-weight: 400;
        }
    }
}