/*******************************************************************************
** 01. SETUP / Variables
*******************************************************************************/

/*******************************************************************************
** Theme Settings
*******************************************************************************/

$theme_name: "Lewing";
$theme_uri: "https://www.appartig.at";
$theme_description: "Theme für das Gemeinlebarner Orts- und Feuerwehrarchiv";
$theme_version: "0.0.1";
$theme_author: "Ing. Jakob Vesely";
$theme_author_uri: "https://www.appartig.at";
$theme_license: "AppArtig AGB";
$theme_license_uri: "https://www.appartig.at/agb";
$theme_tags: "";
$theme_text_domain: "lewing";


/*******************************************************************************
** Base
*******************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Sans|Noto+Serif');

$base_font_familiy_sans: 'Josefin Sans', 'Noto Sans', sans-serif;
$base_font_familiy_serif: 'Noto Serif', serif;
$base_font_size: 13px;

$base_color_blue: #2B2474; //#0333ff;
$base_color_red: #AE070E; //#ff2600;

$base_color: $base_color_blue;


/*******************************************************************************
** Layout
*******************************************************************************/

$layout_wrapper_max_width: 960px;
$layout_padding_grid: 40px;

$layout_responsive_content_breakpoint: 700px;

$body-frame: 15px;
$body-frame-color: #fff; //$base_color_blue;

/*******************************************************************************
** Header
*******************************************************************************/

$header_wrapper_height: 90px;
$header_responsive_menu_breakpoint: 1140px;