/*******************************************************************************
** 04. WORDPRESS / Single
*******************************************************************************/

.single-author{
	padding: 60px 60px;
	background-color: #f4f4f4;
	border-top: 1px #ddd solid;
	
	h3{
		text-transform: uppercase;
		color: #000;
		letter-spacing: 1px;
		font-size: 1em;
		margin-bottom: 20px;
	}
}