.isdiah {
    width: 100%;
    border-top: 1px solid #dddddd;

    &__section,
    &__item {
        border-bottom: 1px solid #dddddd;

        display: flex;
        flex-direction: row;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    &__section {
        background-color: #f4f4f4;
    }

    &__head {
        display: flex;
        flex-direction: row;

        .num {
            font-weight: 300;
            text-align: right;
            padding-right: 1em;
            width: 60px;
        }

        .key {
            font-weight: 500;
            text-align: left;
            padding-right: 1em;
            width: 200px;
        }
    }

    &__value {
        flex: 1;
    }
}

@media screen and (max-width: 680px) {
    .isdiah__item,
    .isdiah__section {
        .key {
            width: auto;
            flex: 1;
        }
    }

    .isdiah__item {
        flex-direction: column;

        .isdiah__head {
            padding-bottom: 0.5rem;
        }

        .isdiah__value {
            padding-left: 60px;
            padding-bottom: 0.5rem;
        }
    }
}
