$main-color: #323277;

:root {
    --primary-color: #323277;
    --link-background-color: rgba(50, 50, 119, 0.2);

    --background-color: #fff;
    --background-color-shadow: #f8f8f8;
    --foreground-color: #000;
    --text-color-main: #333;
    --text-color-shadow: #999;
    --text-color-light: #ccc;
}