:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.background-image {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    //background-image: url('/assets/hero3.jpg');
    //background-image: url(https://images.unsplash.com/photo-1465158154535-2ef77cee33f3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center center;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 80px;
    align-items: center;
    justify-content: center;
    //background-color: rgba(#39569b, 0.85);
    //background-color: #fafbfc;
    //background-color: #08AEEA;
    //background-image: linear-gradient(156deg, #08AEEA 0%, #2AF598 100%);
    //background-image: url(https://images.unsplash.com/photo-1465158154535-2ef77cee33f3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    //background-color: #fafbfc;
    //background-image: linear-gradient(120deg, rgba(#84fab0, 0.9) 0%, rgba(#8fd3f4, 0.9) 100%);
    //background-image: linear-gradient(120deg, rgba(#39569b, 1) 0%, rgba(#244083, 1) 100%);
    background-image: linear-gradient(90deg, rgba(#6d84ad, 1) 0%, rgba(#99a8c7, 1) 100%);
    background-color: #fcfcfc;
}

.center {
    display: flex;
    flex-direction: column;
    max-width: var(--max-wrapper-width);
    width: 100%;
    color: #000;
}

.logo {
    height: 50px;
    width: auto;
    margin-bottom: 100px;

    svg g {
        // fill: #39569b;
        fill: #ffffff;
    }
}

p {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.5;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;

    .stat {
        width: 25%;
        padding-right: 2em;

        &:nth-child(4n) {
            padding-right: 0em;
        }

        oag-stat-tile {}
    }


}

.scroll-down {
    position: absolute;
    bottom: 30px;
}

@media screen and (max-width: 640px) {
    :host {
        height: auto;
    }

    .stats-line {
        flex-direction: column;

        .stat {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
}
