/*******************************************************************************
** 03. BASE / Tables
*******************************************************************************/

table{
    width: 100%;
    border-collapse: collapse;
	
	td, th{
		padding: 10px;
		font-weight: normal;
	}
    
    tbody{
		border: 0px;
		
        tr{
            &.odd {background-color: rgba($base_color, 1);}
            &.even {background-color: rgba($base_color, 0.8);}
            
            td{
                border: 0px !important;
				background-color: transparent !important;
				color: #fff;
            }
        }
    }
	
	tfoot{
		border:0px;
		color: #fff !important;
		
		th{
			border-top: 0px !important;
			line-height: 30px;
		}
	}
}