:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #fafbfc;
}

.wrapper {
    padding: 80px 40px;
    max-width: var(--max-wrapper-width);
}
