<oag-hero></oag-hero>
<oag-section backgroundColor="#ffffff">
    <div class="stats">
        <div class="stat">
            <oag-stat-tile color="#fcfcfc" [to]="65" name="Bestände">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>File Tray</title><path d="M384 80H128c-26 0-43 14-48 40L48 272v112a48.14 48.14 0 0048 48h320a48.14 48.14 0 0048-48V272l-32-152c-5-27-23-40-48-40z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 272h144M320 272h144M192 272a64 64 0 00128 0"/></svg>
            </oag-stat-tile>
        </div>
        <div class="stat">
            <oag-stat-tile [to]="68" name="Serien">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Copy</title><rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            </oag-stat-tile>
        </div>
        <div class="stat">
            <oag-stat-tile [to]="507" name="Akten">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Folder Open</title><path d="M64 192v-72a40 40 0 0140-40h75.89a40 40 0 0122.19 6.72l27.84 18.56a40 40 0 0022.19 6.72H408a40 40 0 0140 40v40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M479.9 226.55L463.68 392a40 40 0 01-39.93 40H88.25a40 40 0 01-39.93-40L32.1 226.55A32 32 0 0164 192h384.1a32 32 0 0131.8 34.55z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            </oag-stat-tile>
        </div>
        <div class="stat">
            <oag-stat-tile [to]="9015" name="Dokumente">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Reader</title><rect x="96" y="48" width="320" height="416" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 128h160M176 208h160M176 288h80"/></svg>
            </oag-stat-tile>
        </div>
    </div>
    <div class="stats">
        <div class="stat">
            <oag-stat-tile [to]="8654" name="Digitalisate">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Scan</title><path d="M336 448h56a56 56 0 0056-56v-56M448 176v-56a56 56 0 00-56-56h-56M176 448h-56a56 56 0 01-56-56v-56M64 176v-56a56 56 0 0156-56h56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            </oag-stat-tile>
        </div>
        <div class="stat">
            <oag-stat-tile [to]="15948" name="Einzelseiten">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Albums</title><rect x="64" y="176" width="384" height="256" rx="28.87" ry="28.87" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M144 80h224M112 128h288"/></svg>
            </oag-stat-tile>
        </div>
        <div class="stat">
            <oag-stat-tile [to]="94.14" [decimals]="2" suffix="%" name="Digitalisierungsgrad">
            </oag-stat-tile>
        </div>
    </div>
</oag-section>

<!--
<oag-section backgroundColor="#39569b">
    <oag-row>
        <oag-column>
            <h2 class="section-title">Digitale Services & Projekte</h2>
        </oag-column>
    </oag-row>
    <oag-row>
        <oag-tile
            width="8"
            title="Suchen & Stöbern"
            link="#">
            <p>Viele digitale Einträge sind öffentlich zugänglich und können durchsucht oder in einer Galerie-Funktion durchstöbert werden.</p>
        </oag-tile>
        <oag-tile width="4" title="Findbuch & API">
            <p>Das Ortsarchiv verfügt über ein eigenes Verwaltungsprogramm, das alle Einträge zentral sammelt, verwaltet und anderen Services bereitstellt.</p>
        </oag-tile>
    </oag-row>
</oag-section>
-->
<oag-footer></oag-footer>